#right-contact-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-networks-contact {
    display: inline-block;
    list-style: none;
}

.social-networks-contact img {
    width: 30px;
}

#contact-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form {
    background-color: #111;
    display: block;
    letter-spacing: 1px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
    width: 275px;
    border: none;
    border-bottom: 1px #eee solid;
}

.input {
    height: 40px;
}

#message-contact-form {
    min-height: 100px;
    overflow: hidden;
    resize: none;
}

#hidden-contact-form {
    display: none;
    white-space: pre-wrap;
    width: 275px;
    min-height: 100px;
    padding: 5px;
    word-wrap: break-word;
}

.lbr {
    line-height: 3px;
}

#contact-button {
    width: 65px;
    height: 25px;
    background-color: #08f;
    border-radius: 5px;
    text-align: center;
}