#header {
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 1;
    padding: 0px 7%;
    display: flex;
    justify-content: space-around;
    background-color: #777;
}

.desktop-header, .mobile-header {
    align-self: center;
}

.mobile-header {
    display: none;
}

.list-header {
    list-style: none;
}

#list-header {
    display: flex;
    width: 100%;
    justify-content: space-around;
}











header a {
    text-decoration: none;
    transition: 0.3s;
    color: #000;
}
header a:hover {
    color: #000555bb;
}

#home-header a {
    color: #000aaa;
}