header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 40px;
    z-index: 1;
    padding: 0px 7%;
    background-color: #050505;
}

#desktop-h, .mobile-h {
    align-self: center;
}

.mobile-h {
    display: none;
}

#desktop-h {
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: space-around;
}

.desktop-h {
    display: inline-block;
    list-style: none;
    transition: 0.1s;
    cursor: pointer;
}

.desktop-h:hover {
    color: #aad;
}

#home-h {
    color: #08f;
}

#social-networks-h, #email-h {
    display: none;
}

@media (max-width: 720px) {

    header {
      height: 50px;
      transition-timing-function: ease-out;
      transition: 0.5s;
    }
  
    .mobile-h {
        display: flex;
    }
  
    #desktop-h {
        display: block;
    }

    #desktop-h {
        transition-timing-function: ease-out;
        display: block;
        top: -320px;
        position: relative;
        transition: 0.5s;
        margin: 0px 7%;
        width: 90%;
        height: 100vh;
        opacity: 0;
    }

    .desktop-h {
        width: 100%;
        padding-top: 20px;
    }
  
    #hamburger {
        left: 5px;
        top: 5px;
        cursor: pointer;
        position: absolute;
        width: 40px;
        height: 40px;
        transition: all 0.25s;
    }
    
    .hamburger-part {
      display: block;
      position: absolute;
      left: 10px;
      width: 18px;
      height: 1px;
      transform: rotate(0);
      transition: all 0.25s;
      background: #aaa;
    }
    
    #hamburger-top {
      top: 20px;
      transform: translateY(-3px);
    }
    
    #hamburger-bottom {
      bottom: 20px;
      transform: translateY(3px);
    }
    
    .open {
      transform: rotate(90deg);
    }
    
    .open #hamburger-top {
      transform: 
        rotate(45deg)
        translateY(0px);
    }
    
    .open #hamburger-bottom {
      transform: 
        rotate(-45deg) 
        translateY(0px);
    }
  
    #logo {
        position: absolute;
        left: 50%;
        top: 12px;
        transform: translateX(-50%);
        cursor: pointer;
    }

    #email-h {
        position: absolute;
        display: block;
        bottom: 50px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }

    #social-networks-h {
        padding: 0px;
        position: absolute;
        width: 100%;
        bottom: 10px;
        left: 0px;
        display: none;
        justify-content: space-around;
    }

    .social-networks-h {
        list-style: none;
        display: inline-block;
    }

    .social-networks-h img {
        width: 20px;
    }
}