@media (max-width: 720px) {

  #header {
    height: 50px;
    padding: 0;
    display: flex;
    transition-timing-function: ease-out;
    transition: 0.5s;
  }

  .mobile-header {
      display: flex;
  }

  .desktop-header {
      display: block;
  }

  #hamburger {
      left: 5px;
      top: 5px;
      cursor: pointer;
      position: absolute;
      width: 40px;
      height: 40px;
      transition: all 0.25s;
  }
  
  .hamburger-part {
    display: block;
    position: absolute;
    left: 10px;
    width: 18px;
    height: 1px;
    transform: rotate(0);
    transition: all 0.25s;
    background: black;
  }
  
  #hamburger-top {
    top: 20px;
    transform: translateY(-3px);
  }
  
  #hamburger-bottom {
    bottom: 20px;
    transform: translateY(3px);
  }
  
  .open {
    transform: rotate(90deg);
  }
  
  .open #hamburger-top {
    transform: 
      rotate(45deg)
      translateY(0px);
  }
  
  .open #hamburger-bottom {
    transform: 
      rotate(-45deg) 
      translateY(0px);
  }

  #logo {
      position: absolute;
      left: 50%;
      top: 12px;
      transform: translateX(-50%);
  }

  #list-header {
    transition-timing-function: ease-out;
    display: none;
    transition: 0.7s;
    margin: 0px 7%;
    width: 90%;
    height: 100vh;
    opacity: 0;
  }

  .list-header {
    width: 100%;
    padding-top: 20px;
  }
}