#header {
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 1;
    padding: 0px 7%;
    display: flex;
    justify-content: space-around;
    background-color: #000000aa;
}

.desktop-header, .mobile-header {
    align-self: center;
}

.desktop-header {
    display: inline-block;
}

.mobile-header {
    display: none;
}

.list-header {
    list-style: none;
    transition: 0.3s;
    cursor: pointer;
}

#list-header {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.list-header:hover {
    color: #aad ;
}

#home-header {
    color: #08f;
}