@media (max-width: 720px) {

  header {
    position: fixed;
    height: 50px;
    padding: 0;
    display: flex;
    justify-content: start;
    font-weight: 400;
  }

    .mobile {
        display: flex;
    }

    .desktop {
        display: block;
        position: relative;
    }

    #hamburger {
        left: 0;
        top: 0;
        cursor: pointer;
        position: absolute;
        width: 40px;
        height: 40px;
        transition: all 0.25s;
    }
    
    #hamburger-top,
    #hamburger-bottom {
      display: block;
      position: absolute;
      left: 10px;
      width: 18px;
      height: 1px;
      background: black;
      transform: rotate(0);
      transition: all 0.25s;
    }
    
    #hamburger:hover + #hamburger-top,
    #hamburger:hover + #hamburger-bottom {
      background-color: red;
    }
    
    #hamburger-top {
      top: 20px;
      transform: translateY(-3px);
    }
    
    #hamburger-bottom {
      bottom: 20px;
      transform: translateY(3px);
    }
    
    .open {
      transform: rotate(90deg);
    }
    
    .open #hamburger-top {
      transform: 
        rotate(45deg)
        translateY(0px);
    }
    
    .open #hamburger-bottom {
      transform: 
        rotate(-45deg) 
        translateY(0px);
    }

    #logo {
        position: absolute;
        top: 10px;
    }

}