@media (max-width: 720px) {

  header {
    position: fixed;
    height: 50px;
    padding: 0;
    display: flex;
    justify-content: start;
    font-weight: 400;
  }

    .mobile {
        display: flex;
    }

    .desktop {
        display: none;
        position: relative;
    }

    #hamburger {
        left: 5px;
        top: 5px;
        cursor: pointer;
        position: absolute;
        width: 40px;
        height: 40px;
        transition: all 0.25s;
    }
    
    #hamburger-top,
    #hamburger-bottom {
      display: block;
      position: absolute;
      left: 10px;
      width: 18px;
      height: 1px;
      background: black;
      transform: rotate(0);
      transition: all 0.25s;
    }
    
    #hamburger:hover + #hamburger-top,
    #hamburger:hover + #hamburger-bottom {
      background-color: red;
    }
    
    #hamburger-top {
      top: 20px;
      transform: translateY(-3px);
    }
    
    #hamburger-bottom {
      bottom: 20px;
      transform: translateY(3px);
    }
    
    .open {
      transform: rotate(90deg);
    }
    
    .open #hamburger-top {
      transform: 
        rotate(45deg)
        translateY(0px);
    }
    
    .open #hamburger-bottom {
      transform: 
        rotate(-45deg) 
        translateY(0px);
    }

    #logo {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    #fp-nav {
      right: 2.5%;
    }

    #options-bar-div {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background-color: #777;
      transition: 0.6s;
    }

    #options-bar {
      position: absolute;
      display: none;
      top: 50px;
    }

    .options-bar {
      padding: 15% 50%;
    }

    .options-bar a {
      text-decoration: none;
      color: #000;
    }
}