* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}
  
body {
    background: #333;
    color: #000;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
}

  .container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 40px;
    padding: 0px 7%;
    background-color: #777;/*mudar*/
    display: flex;
    justify-content: space-around;
}

header a:hover {
    color: #000555bb;
}

#home-header a {
    color: #000aaa;
}

.desktop, .mobile {
    align-self: center;
}

.mobile {
    display: none;
}

header a {
    text-decoration: none;
    transition: 0.3s;
    color: #000;
}
  
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
   
    /* Scroll Snap */
    scroll-snap-align: center;
}

#fp-nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
}

#fp-nav li {
    list-style: none;
    width: 7px;
    height: 7px;
    background-color: #aaa;
    border-radius: 100%;
    margin: 15px 10px;
}

#fp-nav #home-nav {
    background-color: #000aaa;
}