* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #aaa;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 40px;
    padding: 0px 5%;
    background-color: #ccc;
    display: flex;
    justify-content: space-around;
    font-weight: 500;
}

.desktop, .mobile {
    align-self: center;
    cursor: pointer;
}

#home-header a {
    color: #000aaa;
}

header a {
    text-decoration: none;
    transition: 0.3s;
    color: #000;
}

header a:hover {
    color: #000555bb;
}

#hamburguer, #logo {
    display: none;
}

main div {
    padding-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

#fp-nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
}

#fp-nav li {
    list-style: none;
    width: 7px;
    height: 7px;
    background-color: #aaa;
    border-radius: 100%;
    margin: 15px 10px;
}

#fp-nav #home-nav {
    background-color: #000aaa;
}